/* GLOBAL:
========================================================================== */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --font-primary: sans-serif;
  --font-secondary: serif;
  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1,
.text--xxl {
  font-size: var(--text-xxl);
}

h2,
.text--xl {
  font-size: var(--text-xl);
}

h3,
.text--lg {
  font-size: var(--text-lg);
}

h4,
.text--md {
  font-size: var(--text-md);
}

.text--sm,
small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}

code {
  font-family: var(--font-debug);
}

.movie-short .movie-caption {
  font-size: var(--text-sm);
}

:root {
  /* spacing values */
  --space-none: 0;
  --space-xxxs: 0.25em;
  --space-xxs: 0.375em;
  --space-xs: 0.5em;
  --space-sm: 0.75em;
  --space-md: 1.25em;
  --space-lg: 2em;
  --space-xl: 3.25em;
  --space-xxl: 5.25em;
  --space-xxxl: 8.5em;
}

body {
  margin: var(--space-none);
}

h1,
h2,
h3,
h4,
form legend {
  padding-left: var(--space-xxxs);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

.text-container h2,
.text-container h3,
.text-container h4 {
  margin-top: var(--space-sm);
}
.text-container ul,
.text-container ol,
.text-container p {
  margin-bottom: var(--space-md);
}

ul {
  padding-left: var(--space-none);
}

figure {
  margin: var(--space-none);
  padding: var(--space-none);
}

.movie-search .movie-keyword {
  padding: var(--space-xxs) var(--space-xs);
}

:root {
  /* typography */
  --color-text: var(--gray-10);
  --color-text-heading: var(--black);
  --color-text-subtle: var(--gray-6);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);
}

body {
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
form legend {
  color: var(--color-text-heading);
}

a {
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}

.theme--dark {
  --color-text: var(--gray-1);
  --color-text-heading: var(--white);
  --color-text-subtle: var(--gray-4);
  --color-link: var(--color-accent);
}

/* FRAMEWORK:
========================================================================== */
/* COMPONENTS:
========================================================================== */
.movie-full {
  display: flex;
  flex-direction: column;
}
.movie-full .movie-info {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.movie-full .alternate-movies-list {
  display: flex;
  list-style: none;
  width: 100vw;
  overflow-x: auto;
  max-width: 100%;
}
.movie-full .movie-item {
  flex-direction: row;
}

.movies-grid::before, .movies-grid::after {
  content: "";
  display: table;
}
.movies-grid::after {
  clear: both;
}
.movies-grid > * {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
@supports (grid-area: auto) {
  .movies-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .movies-grid::after, .movies-grid::before {
    content: none;
  }
  .movies-grid > * {
    margin-right: 0;
    margin-bottom: 0;
  }
}
.movies-grid > * {
  float: left;
  width: calc(100% /3 - 10px);
}
.movies-grid > *:nth-child(3n+1) {
  clear: both;
}
@supports (grid-area: auto) {
  .movies-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .movies-grid > * {
    width: auto;
    margin: 0;
  }
}

.search-movies {
  display: flex;
  flex-direction: column;
}

.movie-search {
  display: flex;
  flex-direction: row;
}
.movie-search .movie-keyword {
  flex: 1;
}

.movie-short {
  width: 150px;
}
.movie-short .movie-thumbnail {
  object-fit: cover;
  width: 150px;
}

/* PAGES:
========================================================================== */

/*# sourceMappingURL=index.css.map */
