:root {
  /* spacing values */
  --space-none: 0;
  --space-xxxs: 0.25em;
  --space-xxs: 0.375em;
  --space-xs: 0.5em;
  --space-sm: 0.75em;
  --space-md: 1.25em;
  --space-lg: 2em;
  --space-xl: 3.25em;
  --space-xxl: 5.25em;
  --space-xxxl: 8.5em;
}

body {
  margin: var(--space-none);
}

h1,
h2,
h3,
h4,
form legend {
  padding-left: var(--space-xxxs);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

.text-container {
  h2,
  h3,
  h4 {
    margin-top: var(--space-sm);
  }

  ul,
  ol,
  p {
    margin-bottom: var(--space-md);
  }
}

ul {
  padding-left: var(--space-none);
}

figure {
  margin: var(--space-none);
  padding: var(--space-none);
}

.movie-search {
  .movie-keyword {
    padding: var(--space-xxs) var(--space-xs);
  }
}
