ul.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  flex: 1;
}

figure.movie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

img.poster {
  object-fit: cover;
}
