ul.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  flex: 1;
}

figure.movie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 154px;
}

.title {
  padding: 0 5px;
}

img.poster {
  object-fit: cover;
}
