ul.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    flex: 1;
}

figure.movie{
    display: flex;
    flex-wrap: wrap;
    max-width: 220px;
    min-height: 450px;
}

.title{
    padding: 0 5px;
}

div.poster{
    display: flex;
    align-items: flex-end;
}

div.poster img{
    max-height: 338px; 
    overflow: hidden;
}
